  <script>
      window.onload = function() {
        try {
          const value = getCookie("user_nm");  // 원하는 쿠키 이름
          document.getElementById("menu_user_nm").innerText = value;
          if (value == null || value == "") {
            location.replace("/");
          }
        } catch (error) {
          location.replace("/");
        }
      }
  </script>

<!-- include menu start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">

    <!-- 로고 -->
    <!--a class="navbar-brand" href="#"><img src="/statics/images/logo.png"></a-->

    <!-- 모바일 토글 -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTree">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- 메뉴 + 로그인 영역 -->
    <div class="collapse navbar-collapse" id="navbarTree">

      <!-- 좌측 메뉴 -->
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/dashboard/index">홈</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">테스트</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/dashboard/path/test">dashboard-1</a></li>            
            <li><a class="dropdown-item" href="/dashboard/path/test2">dashboard-2</a></li>
            <li><a class="dropdown-item" href="#3">AI 서비스</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">회사소개</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">연혁</a></li>
            <li><a class="dropdown-item" href="#">조직도</a></li>
            <li><a class="dropdown-item" href="#">채용</a></li>
          </ul>
        </li>

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">System</a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/sys/menu">메뉴관리</a></li>
          <li><a class="dropdown-item" href="/sys/role">권한관리</a></li>
          
        </ul>
      </li>
      </ul>

      
      

      <ul class="navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown"><span id='menu_user_nm'></span></a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="/sys/mypage">마이페이지</a></li>
            <li><a class="dropdown-item" href="/sys/password">비밀번호변경</a></li>
            <li><a class="dropdown-item" href="#" onclick="logout()">로그아웃</a></li>
          </ul>
        </li>
      </ul>


    </div>
  </div>
</nav>
<!-- include menu end -->
