node_modules

# Output
**/*.pyc
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*

# sqlite
app.db

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.env
