{% include "Basis/head.html" %}
  <h2>🧾 상품 리스트</h2>
  <div id="grid"></div>

  <script>
    
    const grid = new tui.Grid({
      el: document.getElementById('grid'),
      columns: [
        { header: 'ID', name: 'id' },
        { header: 'Name', name: 'name' },
        { header: 'Price', name: 'price' }
      ],
      data: []
    });

    fetch('/api/items')
      .then(response => response.json())
      .then(data => {
        grid.resetData(data);
      });
  </script>
{% include "Basis/foot.html" %}
