{% include "Basis/head.html" %}
<link href="/statics/css/login.css" rel="stylesheet">

<script>
    // 쿠키 값이 있는지 확인 하여 바로 화면으로 이동한다 - start
    const value = getCookie("user_id");  // 원하는 쿠키 이름
    console.log("쿠키 값:", value);
    if (value != null){
      location.replace("/dashboard/index");      
    }
    // 쿠키 값이 있는지 확인 하여 바로 화면으로 이동한다 - end

    function handlesubmit(event) {
        event.preventDefault();
        const userId = document.getElementById('user_id').value;
        const password = document.getElementById('password').value;

        if (userId === '' || password === '') {
          alert('아이디와 비밀번호를 입력해주세요.');
          return;
        }
        const curl ='/sys/login?user_id=' + encodeURIComponent(userId) + '&password=' + encodeURIComponent(password);
        fnCurl( 'POST' ,  curl , '').then(  result => {
          if (result.status_code == 200) {
            location.replace("/dashboard/index");
          } else {
            alert('아이디와 비밀번호를 확인 바랍니다.');
          }
        });
    }
</script>

  <div class="container">
    <div class="login-container">
      <h2 class="text-center mb-4">로그인</h2>
      <form onsubmit="handlesubmit(event)">
        <!--
        <div class="mb-3">
          <label for="client_id" class="form-label">Client ID</label>
          <input type="text" class="form-control" id="client_id" placeholder="Cliend ID">
        </div>   
        -->
        <div class="mb-3">
          <label for="user_id" class="form-label">아이디</label>
          <input type="text" class="form-control" id="user_id" placeholder="아이디 입력">
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">비밀번호</label>
          <input type="password" class="form-control" id="password" placeholder="비밀번호 입력">
        </div>
        <div class="d-grid mb-3">
          <button type="submit" class="btn btn-primary">로그인</button>
        </div>
        <!--
        <div class="text-center">
          <a href="#">비밀번호를 잊으셨나요?</a>
        </div>
        -->
      </form>
    </div>
  </div>

{% include "Basis/foot.html" %}
