{% include "Basis/head.html" %}

{% include "Basis/navigation.html" %}
<script>
    function handlesubmit(event) {
        event.preventDefault();
        const user_id     = getCookie("user_id");
        const email       = document.getElementById('email').value;
        const user_nm     = document.getElementById('user_nm').value;
        const cell_phone  = document.getElementById('cell_phone').value;
        const tel_phone   = document.getElementById('tel_phone').value;
        
        
        
        
        if ( user_id === '' || email === '' || user_nm === '' || cell_phone === '' || tel_phone === '' ) {
          alert('다시 입력 하세요.');
          return;
        }        
        param = {
            user_id : user_id
            , user_nm : user_nm
            , email : email
            , cell_phone : cell_phone
            , tel_phone : tel_phone
        };
        
        fnCurl( 'PUT' ,  '/sys/' , param).then(  result => {
          if (result.status_code == 200) {
              alert(result.detail);
              location.replace("/dashboard/index");
          } else {
            alert(result.detail);
          }
        });
        
    }
</script>


<div class="container mt-5" style="max-width: 500px;">
    <h2 class="mb-4 text-center">마이페이지 수정</h2>
    <form onsubmit="handlesubmit(event)" >
      <div class="mb-3">
        <label for="email" class="form-label">이메일</label>
        <input type="email" class="form-control" id="email" name="email" value="">
      </div>
      <div class="mb-3">
        <label for="user_nm" class="form-label">이름</label>
        <input type="text" class="form-control" id="user_nm" name="user_nm" value="">
      </div>

      <div class="mb-3">
        <label for="tel_phone" class="form-label">전화번호</label>
        <input type="text" class="form-control" id="tel_phone" name="tel_phone" value="">
      </div>

      <div class="mb-3">
        <label for="cell_phone" class="form-label">휴대전화번호</label>
        <input type="text" class="form-control" id="cell_phone" name="cell_phone" value="">
      </div>
      
      <button type="submit" class="btn btn-primary w-100">확인</button>
    </form>
  </div>

  <script>
      const user_nm = getCookie("user_nm");  // 원하는 쿠키 이름
      const email = getCookie("email");  // 원하는 쿠키 이름
      const tel_phone = getCookie("tel_phone");  // 원하는 쿠키 이름
      const cell_phone = getCookie("cell_phone");  // 원하는 쿠키 이름      

      document.getElementById("email").value = email;
      document.getElementById("user_nm").value = user_nm;
      document.getElementById("tel_phone").value = tel_phone;
      document.getElementById("cell_phone").value = cell_phone;
  </script>  

{% include "Basis/foot.html" %}