{% include "Basis/head.html" %}

{% include "Basis/navigation.html" %}
<script>
    function handlesubmit(event) {
        event.preventDefault();
        const user_id           = getCookie("user_id");
        const password_cur      = document.getElementById('password_cur').value;
        const password_new1     = document.getElementById('password_new1').value;
        const password_new2     = document.getElementById('password_new2').value;
        
        
        if ( password_cur === '' || password_new1 === '' || password_new2 === '' ) {
          alert('아이디와 비밀번호를 입력해주세요.');
          return;
        }        
        param = {
            user_id       : user_id,
            password_cur  : password_cur , 
            password_new1 : password_new1 ,
            password_new2 : password_new2           
        };
        
        fnCurl( 'PUT' ,  '/sys/password' , param).then(  result => {
          if (result.status_code == 200) {
              alert(result.detail);
              location.replace("/dashboard/index");
          } else {
            alert(result.detail);
          }
        });
        
    }
</script>


  <div class="container mt-5" style="max-width: 500px;">
    <h3 class="mb-4 text-center">비밀번호 변경</h3>
    <form onsubmit="handlesubmit(event)" >

      <div class="mb-3">
        <label for="password_cur" class="form-label">현재 비밀번호</label>
        <input type="password" class="form-control" id="password_cur" name="password_cur" required>
      </div>
      <div class="mb-3">
        <label for="password_new1" class="form-label">새 비밀번호</label>
        <input type="password" class="form-control" id="password_new1" name="password_new1" required>
      </div>
      <div class="mb-3">
        <label for="password_new2" class="form-label">새 비밀번호 확인</label>
        <input type="password" class="form-control" id="password_new2" name="password_new2" required>
      </div>
      <button type="submit" class="btn btn-primary w-100">변경</button>
    </form>
  </div>

  {% include "Basis/foot.html" %}


